body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(#ffe6f0, #fff);
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #ff4d88;
  font-size: 3em;
}

.btn {
  padding: 12px 25px;
  background: #ff66a3;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 20px;
}

img {
  width: 250px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.fade {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}